<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="locales" type="COMPONENTS.Cultura"/>
	</configSections>
	<location path="." inheritInChildApplications="false">
		<appSettings>
			<add key="AppName" value="Título do projeto"/>
			<add key="CompanyName" value="Empresa"/>
			<add key="DeveloperName" value="Analista"/>
			<add key="ProjectVersion" value="1.0"/>
			<add key="ProjectCopyright" value="Todos os direitos reservados"/>
			<add key="SiteLanguage" value="pt"/>
			<add key="AccessDeniedUrl" value="~/Pages/StartPage.aspx"/>
			<add key="DefaultDateFormat" value="dd\/MM\/yyyy"/>
			<add key="DefaultBooleanFormat" value="0;1"/>
			<add key="StartPage" value="~/Pages/StartPage.aspx"/>
			<add key="Telerik.Skin" value="Office2007"/>
    </appSettings>
		<!--Locales-->
		<locales>
			<locale language="pt" country="" defaultCountry="BR" name="pt-BR" booleanFormat="1;0" zeroFormat="" nullFormat="" weekdayNarrowNames="D;S;T;Q;Q;S;S" encoding="windows-8859"/>
			<locale language="en" country="" defaultCountry="US" name="en-US" booleanFormat="1;0" zeroFormat="" nullFormat="" weekdayNarrowNames="D;S;T;Q;Q;S;S" encoding="windows-8859"/>
			<locale language="es" country="" defaultCountry="ES" name="es-ES" booleanFormat="1;0" zeroFormat="" nullFormat="" weekdayNarrowNames="D;S;T;Q;Q;S;S" encoding="windows-8859"/>
		</locales>
		<!--End Locales-->
		<system.web>
		<sessionState timeout="20" />
    <httpRuntime requestValidationMode="3.5" />
      <authentication mode="Forms" >
				<forms loginUrl="~/Pages/StartPage.aspx" timeout="20"/>
			</authentication>
			<membership defaultProvider="GMembershipProvider">
				<providers>
					<add name="GMembershipProvider" type="PROJETO.GMembershipProvider" DatabaseName="22326MAKOTO"
						UserTableName="TB_LOGIN_USER" UserIdField="LOGIN_USER_NAME"
						UserNameField="LOGIN_USER_NAME" UserLoginField="LOGIN_USER_LOGIN"
						UserPasswordField="LOGIN_USER_PASSWORD" UserObsField="LOGIN_USER_OBS" UserGroupIdField="LOGIN_GROUP_NAME"
						GroupTableName="TB_LOGIN_GROUP" GroupIdField="LOGIN_GROUP_NAME" GroupNameField="LOGIN_GROUP_NAME" GroupIsAdminField="LOGIN_GROUP_IS_ADMIN"
						RuleTableName="TB_LOGIN_RULE" RuleProjectIdField="LOGIN_RULE_PROJECT" RuleGroupIdField="LOGIN_GROUP_NAME" RuleObjectField="LOGIN_RULE_OBJECT" RulePermissionsField="LOGIN_RULE_PERMISSIONS"
						UserIdSessionVariable="vgUserId" UserLoginSessionVariable="vgUserLogin" UserNameSessionVariable="vgUserName" UserObsSessionVariable="vgUserObs"
						GroupIdSessionVariable="vgGroupID" GroupNameSessionVariable="vgGroupName" GroupIsAdminSessionVariable="vgGroupIsAdmin" />
				</providers>
			</membership>
			<compilation debug="true" defaultLanguage="C#" targetFramework="4.0">
				<assemblies>
					<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
					<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
					<add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
					<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
					<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
					<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				</assemblies>
			</compilation>
			<!--  CUSTOM ERROR MESSAGES
					Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
					<error> tags for each of the errors you want to handle.
			-->
			<customErrors mode="Off"/>
			<!--  APPLICATION-LEVEL TRACE LOGGING
					Application-level tracing enables trace log output for every page within an application. 
					Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
					trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
					application trace log by browsing the "trace.axd" page from your web application
					root. 
			-->
			<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
			<!--  GLOBALIZATION
				This section sets the globalization settings of the application. 
			-->
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
			<machineKey validationKey="7856023FD9EE2058EAED57AE3F0EF470D27062DA30BC67786C26BC094028B720E84334647BF555CF20428E311C5FAC4000E23201AE7999100A9AD827A50C93A6" decryptionKey="95539F4A76EF7C20BCF63A99ACDFDB3CBB5A11B364FFCDB3C4639A8B0C8C9614" validation="SHA1" decryption="AES" />
			<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		</system.web>
    </location>
		<system.webServer>
			<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
		</handlers>
	</system.webServer>
</configuration>
