input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 611px;
	height: 470px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 611px;
	height: 470px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 0 0 0;
	min-height: 373px;
	overflow: inherit;
	position: relative;
	top: 0px;
}

#Div1
{
	background-color: #F2F2F2;
	position: absolute !important;
	left: 50%;
	top: 50%;
	margin-left: -252px;
	margin-top: -186px;
	width: 504px;
	height: 373px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #333333;
	border-style: Solid;
	border-width: 1px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Div3
{
	background-color: #C4D9F1;
	position: absolute !important;
	left: -1px;
	top: -1px;
	width: 504px;
	height: 33px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #333333;
	border-style: Solid;
	border-width: 1px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Verdana;
	font-size: 16px;
	font-weight: Bolder;
	position: absolute !important;
	left: 15px;
	top: 4px;
	width: 424px;
	height: 25px;
	background-color: Transparent;
	color: #333333;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#AjaxPanel
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	right: 0px;
	background-color: Transparent;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
}

#Panel1
{
	position: absolute !important;
	left: 13px;
	top: 40px;
	width: 473px;
	height: 284px;
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #CCCCCC;
	cursor: inherit;
	opacity: 1;
}

#trvDataBase
{
	position: absolute !important;
	left: 50%;
	top: 50%;
	margin-left: -227px;
	margin-top: -134px;
	width: 455px;
	height: 268px;
	cursor: inherit;
	opacity: 1;
}

#chkIntegrity
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	position: absolute !important;
	left: 10px;
	top: 335px;
	width: 181px;
	height: 25px;
	background-color: Transparent;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	color: #333333;
	cursor: inherit;
	direction: ltr;
	opacity: 1;
	text-align: Left;
}

