input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	height: 444px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	height: 444px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 0 0 0;
	min-height: 373px;
	overflow: inherit;
	position: relative;
	top: 0px;
}

#Div1
{
	background-color: #F2F2F2;
	position: absolute !important;
	left: 50%;
	top: 50%;
	margin-left: -237px;
	margin-top: -186px;
	width: 474px;
	height: 373px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #333333;
	border-style: Solid;
	border-width: 1px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Div3
{
	background-color: #C4D9F1;
	position: absolute !important;
	left: -1px;
	top: -1px;
	width: 474px;
	height: 33px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #333333;
	border-style: Solid;
	border-width: 1px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Label1
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 16px;
	font-weight: Bolder;
	position: absolute !important;
	left: 10px;
	top: 2px;
	width: 100px;
	height: 25px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #333333;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#AjaxPanel1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	right: 0px;
	background-color: Transparent;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
}

#lstConsults
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 6px;
	top: 43px;
	width: 459px;
	height: 274px;
	background-color: #D7E6F7;
	cursor: inherit;
	opacity: 1;
}

#butNew
{
	background-color: #D7E6F7;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	position: absolute !important;
	left: 6px;
	top: 330px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 70px;
}

#butDel
{
	background-color: #D7E6F7;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	position: absolute !important;
	left: 86px;
	top: 330px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 70px;
}

#butExecute
{
	background-color: #D7E6F7;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	position: absolute !important;
	left: 166px;
	top: 330px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 70px;
}

#butEdit
{
	background-color: #D7E6F7;
	font-family: Verdana;
	font-size: 11px;
	font-weight: Bolder;
	position: absolute !important;
	left: 245px;
	top: 330px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 70px;
}

